@import "../../common-style/style.module.scss";

.headerContainer {
  min-height: 70px;
  background-color: $base-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;

  .tabContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .tab {
      display: flex;
      gap: 8px;
      cursor: pointer;
      width: 150px;
    }
    .activeTab {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 790px) {
  .headerContainer {
    min-height: 50px;
  }
}
